Source: vyatta-nat
Section: contrib/net
Priority: extra
Maintainer: An-Cheng Huang <ancheng@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-nat
Architecture: all
Depends: vyatta-cfg,
 vyatta-op,
 iptables
Description: Vyatta configuration/operational commands for NAT
 Vyatta configuration and operational templates and scripts for NAT
